.infos {
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
    text-transform: none;
    width: 400px;
    word-break: break-word;
}
