@import 'tools/variables';
@import 'tools/font';

@import 'components/canvas';
@import 'components/download';
@import 'components/infos';
@import 'components/loader';
@import 'components/search';
@import 'components/toggle';

::selection {
    background: $white;
    color: $black;
}
::-moz-selection {
    background: $white;
    color: $black;
}
html {
    font-family: $Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: .5rem;
    text-transform: uppercase;
}
body {
    background-color: $black;
    color: $white;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    width: 100vw;
}
.content {
    display: inline-flex;
    height: 100%;
    width: 100%;
    > * {
        width: 50%;
    }
    .right {
        h1 {
            font-size: 4.5rem;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
        }
    }
}
.swal2-popup {
    border-radius: 0 !important;
    letter-spacing: 0;
    .swal2-content {
        text-transform: none;
    }
}
